.container, .container1{
    max-width: 30%;
    margin: 0 auto;
}
.container button{
    width: 8rem;
    height: 5rem;
    margin: 10px 0;
    background-color: aqua;
}
.zero-row{
    position: relative;
}

.closebutton{
    background-color: transparent;
    width: 60px;
    border: none;
    position: absolute;
    height: 7.6rem;
    border-radius: 12px;
    right: 0;
}
.closebutton i{
    font-size: 40px;
}